.header {
  width: 100vw;
  height: 8vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoHeader {
  display: flex;
  align-items: center;
  width: 10%;
  height: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  /* font-weight: 800; */
  font-size: 40px;
  color: #a97ec9;
  /* background-color: yellow;   */
}

.logoname{
    font-weight: 1000  ;
    cursor: pointer;
}
.navlinks {
  width: 50vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  height: 8vh;
  /* background-color: pink; */
  color: white;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  transition-property: all;
  transition-duration: 0.3s;
  cursor: pointer;
}

.headerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a980ca;
  width: 142px;
  height: 54px;
  /* padding: 10px 25px 10px 25px; */
  border-radius: 15px;
  color: black;
  transition-property: all;
  transition-duration: 0.2s;
  cursor: pointer;
}

.headerButton:hover{
    color:white;
}

.navlinks li:hover {
  color: #d275f8;
}
/* .logoimg {
  background-color: blue;
} */

/* Home About Us Supporters (Become a Supporter) Reviews FAQs */
